main {
  margin: 0 auto;
  width: 80%; 
  max-width: 460px;
  text-align: center;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 6.25rem;
}

.info-container img {
  margin-bottom: 2.5rem;
}

.info-container h1 {
  font-size: 2.5rem;
  margin-bottom: .625rem;
  opacity: 0.9;
  
  color: var(--purple);
}

.info-container p {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  opacity: 0.7;
}

form {
  display: block;
  width: 100%;
}

form input {
  margin-bottom: 1.25rem;
  background-color: var(--bg-input-color);
}

form button {
  background: var(--pink);
  font-weight: 500;
  transition: all .2s ease-in-out;
}

form button:hover {
  background: var(--green);
  filter: brightness(1.2);
}

form input,
form button {
  width: 100%;
  padding: 1.25rem;
  border-radius: .25rem;
  border: 0;
  font-size: 1.25rem;
}

form input,
form input::placeholder,
form button {
  color: var(--text-color);
}
